<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iai.nurulimam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/darkTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activity.Student.StudentFeedActivity" />
        <activity android:name=".Activity.Teacher.TeacherPostActivity" />
        <activity android:name=".Activity.Teacher.TeacherProfileActivity" />
        <activity android:name=".Activity.Teacher.TeacherPlanActivity" />
        <activity
            android:name=".Activity.Parent.ParentActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.Student.DashboardStudentActivity" />
        <activity
            android:name=".Activity.SplashScreen"
            android:theme="@style/darkTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity android:name=".Activity.Teacher.TeacherListActivity" /> -->
        <activity android:name=".Activity.Teacher.DashboardTeacherActivity" />
        <activity android:name=".Activity.LoginActivity" />
    </application>

</manifest>